body{
    color: black;
}
.title{
    font-weight: 900;
    font-size: 80px;
    font-family: Impact;
}
.paragraph{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.button{
    width: 250px;
    height: 80px;
    background-color: blue;
    border: 2px solid rgb(118, 118, 118);
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.button:hover{
    background-color: green;
    color: white;
    border: 2px solid rgb(118, 118, 118);
}
#quote, #author{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}